{% extends "layout.html" %}

{% block body %}

<h3>Hakkımızda</h3>
<hr>

<p>
“Türk Genci, devrimlerin ve cumhuriyetin sahibi ve bekçisidir. Bunların gereğine, doğruluğuna herkesten çok inanmıştır. Yönetim biçimini ve devrimleri benimsemiştir. Bunları güçsüz düşürecek en küçük ya da en büyük bir kıpırtı ve bir davranış duydu mu, “Bu ülkenin polisi vardır, jandarması vardır, ordusu vardır, adalet örgütü vardır” demeyecektir. Elle, taşla, sopa ve silahla; nesi varsa onunla kendi yapıtını koruyacaktır.
Polis gelecek, asıl suçluları bırakıp, suçlu diye onu yakalayacaktır. Genç, “Polis henüz devrim ve cumhuriyetin polisi değildir” diye düşünecek, ama hiç bir zaman yalvarmayacaktır. Mahkeme onu yargılayacaktır. Yine düşünecek, “demek adalet örgütünü de düzeltmek, yönetim biçimine göre düzenlemek gerek”
Onu hapse atacaklar. Yasal yollarla karşı çıkışlarda bulunmakla birlikte bana, başbakana ve meclise telgraflar yağdırıp, haksız ve suçsuz olduğu için salıverilmesine çalışılmasını, kayrılmasını istemeyecek. Diyecek ki, “ben inanç ve kanaatimin gereğini yaptım. Araya girişimde ve eylemimde haklıyım. Eğer buraya haksız olarak gelmişsem, bu haksızlığı ortaya koyan neden ve etkenleri düzeltmek de benim görevimdir.”
<p>

{% endblock body %}